---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GD Rated Layouts Browser">
  <div class="menu-container">
    <a href="/featured" class="menu-button">
      <img src="/menu/RL_featured01.png" alt="Featured" />
    </a>
    <a href="/leaderboard" class="menu-button">
      <img src="/menu/RL_leaderboard01.png" alt="Leaderboard" />
    </a>
    <a href="/gauntlets" class="menu-button">
      <img src="/menu/RL_gauntlets01.png" alt="Gauntlets" />
    </a>
    <a href="/sent" class="menu-button">
        <img src="/menu/RL_sent01.png" alt="Sent" />
    </a>
    <a href="/spire" class="menu-button">
        <img src="/menu/RL_spire01.png" alt="Spire" />
    </a>
    <a href="/search" class="menu-button">
      <img src="/menu/RL_search01.png" alt="Search" />
    </a>
    <a href="/daily" class="menu-button">
        <img src="/menu/RL_daily01.png" alt="Daily" />
    </a>
    <a href="/weekly" class="menu-button">
      <img src="/menu/RL_weekly01.png" alt="Weekly" />
    </a>
    <a href="/monthly" class="menu-button">
      <img src="/menu/RL_monthly01.png" alt="Monthly" />
    </a>
  </div>
</Layout>
